.version.productos /* version checker */
{
	color: #0000E6;
	background-color: #BB4753;
}

.html
{
	background-color: #F4F2EF;
}

#page
{
	z-index: 1;
	width: 1140px;
	min-height: 747px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 3px;
	padding-bottom: 6px;
	width: 0.01px;
}

#pu1419
{
	width: 0.01px;
}

#u1419
{
	z-index: 2;
	width: 192px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#menuu7856
{
	z-index: 86;
	width: 831px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 236px;
}

#u7871
{
	width: 206px;
	min-height: 48px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7872
{
	width: 205px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #774482;
	padding-bottom: 28px;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u7874-4
{
	width: 205px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u7872:hover #u7874-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 205px;
	margin: 0px -10000px 0px 0px;
}

#u7864
{
	width: 206px;
	min-height: 48px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 208px;
}

#u7865
{
	width: 205px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #774482;
	padding-bottom: 28px;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u7872:hover,#u7865:hover
{
	background-color: #E67AFF;
	width: 205px;
	min-height: 0px;
	margin: 0px;
}

#u7866-4
{
	width: 205px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u7872.MuseMenuActive #u7874-4,#u7865:hover #u7866-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 205px;
	margin: 0px -10000px 0px 0px;
}

#u7878
{
	width: 206px;
	min-height: 48px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 416px;
}

#u7879
{
	width: 205px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #774482;
	padding-bottom: 28px;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u7879.MuseMenuActive
{
	background-color: #774482;
	width: 205px;
	min-height: 0px;
	margin: 0px;
}

#u7882-4
{
	width: 205px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	left: 0px;
}

#u7865.MuseMenuActive #u7866-4,#u7879:hover #u7882-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 205px;
	margin: 0px -10000px 0px 0px;
}

#u7879.MuseMenuActive #u7882-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 205px;
	margin: 0px -10000px 0px 0px;
}

#u7857
{
	width: 207px;
	min-height: 48px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 624px;
}

#u7858
{
	width: 206px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #774482;
	padding-bottom: 28px;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u7858:hover
{
	background-color: #E67AFF;
	width: 206px;
	min-height: 0px;
	margin: 0px;
}

#u7861-4
{
	width: 206px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u7858:hover #u7861-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 206px;
	margin: 0px -10000px 0px 0px;
}

#u7858.MuseMenuActive #u7861-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 206px;
	margin: 0px -10000px 0px 0px;
}

#u7874-2,#u7866-2,#u7882-2,#u7861-2
{
	padding-top: 4px;
}

#u7855
{
	z-index: 85;
	width: 25px;
	height: 25px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 1095px;
	background: #774482 url("../images/facebook.png") no-repeat center center;
}

#u7855:hover
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 59px -10000px 0px 0px;
	background: #3B5998 url("../images/facebook.png") no-repeat center center;
}

#u7855.MuseLinkActive
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 59px -10000px 0px 0px;
	background: #3B5998 url("../images/facebook.png") no-repeat center center;
}

#pu1401
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 24px;
}

#u1401
{
	z-index: 4;
	width: 980px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 20px 71px 38.44999999999936px 49px;
}

#u2065-4
{
	z-index: 81;
	width: 215px;
	min-height: 25px;
	background-color: transparent;
	color: #2F5979;
	text-align: left;
	line-height: 42px;
	font-size: 30px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u1462
{
	z-index: 5;
	width: 980px;
	height: 1px;
	border-color: #000000;
	background-color: #E5E5E5;
	margin-top: 472px;
	position: relative;
}

#slideshowu1465
{
	z-index: 6;
	width: 0.01px;
	height: 428px;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
	left: 29px;
}

#u1470
{
	position: absolute;
	width: 524px;
	height: 422px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: 63px;
	left: -22px;
	-pie-background: rgba(0,0,0,0.9);
}

#u1470popup
{
	z-index: 7;
}

#u1475
{
	z-index: 8;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1475_img
{
	padding-left: 25px;
	padding-right: 25px;
}

#u1883
{
	z-index: 10;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1883_img
{
	padding-left: 29px;
	padding-right: 29px;
}

#u1892
{
	z-index: 12;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1892_img
{
	padding-left: 18px;
	padding-right: 18px;
}

#u1901
{
	z-index: 14;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1910
{
	z-index: 16;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1919
{
	z-index: 18;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1928
{
	z-index: 20;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1937
{
	z-index: 22;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1955
{
	z-index: 24;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1964
{
	z-index: 26;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1973
{
	z-index: 28;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1901_img,#u1910_img,#u1919_img,#u1928_img,#u1937_img,#u1955_img,#u1964_img,#u1973_img
{
	padding: 72px 96px;
}

#u1982
{
	z-index: 30;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1982_img
{
	padding-top: 20px;
	padding-bottom: 20px;
}

#u1991
{
	z-index: 32;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1991_img
{
	padding-top: 10px;
	padding-bottom: 9px;
}

#u2000
{
	z-index: 34;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2000_img
{
	padding-top: 55px;
	padding-bottom: 55px;
}

#u2009
{
	z-index: 36;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2009_img
{
	padding-top: 50px;
	padding-bottom: 49px;
}

#u2018
{
	z-index: 38;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2018_img
{
	padding-top: 28px;
	padding-bottom: 28px;
}

#u1478
{
	position: absolute;
	width: 1043px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1478popup
{
	z-index: 40;
}

#u1479
{
	z-index: 41;
	width: 159px;
	height: 136px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 19px;
}

#u1479_img
{
	margin-left: -2px;
	margin-right: -2px;
}

#u1886
{
	z-index: 43;
	width: 159px;
	height: 136px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 188px;
}

#u1895
{
	z-index: 45;
	width: 159px;
	height: 136px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 357px;
}

#u1895_img
{
	margin-left: -4px;
	margin-right: -5px;
}

#u1904
{
	z-index: 47;
	width: 159px;
	height: 136px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 526px;
}

#u1913
{
	z-index: 49;
	width: 159px;
	height: 136px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#u1922
{
	z-index: 51;
	width: 159px;
	height: 136px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 864px;
}

#u1479:hover,#u1886:hover,#u1895:hover,#u1904:hover,#u1913:hover,#u1922:hover
{
	width: 159px;
	height: 136px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1931
{
	z-index: 53;
	width: 159px;
	height: 136px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 19px;
}

#u1940
{
	z-index: 55;
	width: 159px;
	height: 136px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 188px;
}

#u1958
{
	z-index: 57;
	width: 159px;
	height: 136px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 357px;
}

#u1967
{
	z-index: 59;
	width: 159px;
	height: 136px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 526px;
}

#u1976
{
	z-index: 61;
	width: 159px;
	height: 136px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 695px;
}

#u1904_img,#u1913_img,#u1922_img,#u1931_img,#u1940_img,#u1958_img,#u1967_img,#u1976_img
{
	margin-left: -11px;
	margin-right: -11px;
}

#u1985
{
	z-index: 63;
	width: 159px;
	height: 136px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 864px;
}

#u1931:hover,#u1940:hover,#u1958:hover,#u1967:hover,#u1976:hover,#u1985:hover
{
	width: 159px;
	height: 136px;
	min-height: 0px;
	margin: 146px -10000px 0px 0px;
}

#u1994
{
	z-index: 65;
	width: 159px;
	height: 136px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 292px;
	left: 19px;
}

#u1479_clip,#u1886_clip,#u1895_clip,#u1904_clip,#u1913_clip,#u1922_clip,#u1931_clip,#u1940_clip,#u1958_clip,#u1967_clip,#u1976_clip,#u1994_clip
{
	overflow: hidden;
	width: 159px;
	height: 136px;
}

#u1994_img
{
	margin-left: -16px;
	margin-right: -17px;
}

#u2003
{
	z-index: 67;
	width: 159px;
	height: 136px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 292px;
	left: 188px;
}

#u2012
{
	z-index: 69;
	width: 159px;
	height: 136px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 292px;
	left: 357px;
}

#u2021
{
	z-index: 71;
	width: 159px;
	height: 136px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 292px;
	left: 526px;
}

#u1994:hover,#u2003:hover,#u2012:hover,#u2021:hover
{
	width: 159px;
	height: 136px;
	min-height: 0px;
	margin: 292px -10000px 0px 0px;
}

#u1490-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 455px;
	left: 420px;
}

#u1490-4popup
{
	z-index: 73;
}

#u1467-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 455px;
	left: 450px;
}

#u1467-4popup
{
	z-index: 77;
}

.MenuItem,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

body
{
	position: relative;
	min-width: 1140px;
}

#page .verticalspacer
{
	clear: both;
}

